body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2,
h3 {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

figure {
    display: block;
}

p {
    font-size: 16px;
    color: black;
}

.firstSection {
    font-weight: bolder;
}

#nevigation {
    padding-left: 10px;
}

.etonImg {
    float: left;
    height: 300px;
    width: 200px;
    font-family: Veranda;
    margin-right: 5px;
    border-radius: 5px;
}

.etonAndOxford {
    padding: 5px;
}

#earlyCareer {
    margin-top: 300px;
}

#bibliography {
    margin-bottom: 30px;
}

#media {
    overflow: scroll;
    height: 300px;
}

#footer {
    background-color: darkslategray;
    text-align: center;
}

.fa:hover {
    opacity: 0.7;
    color: cyan;
}

.fa-facebook {
    background: #2353bb;
    color: cornsilk;
    font-size: 40px;
    font-weight: bolder;
    margin-right: 5px;
}

.fa-twitter {
    background: #55ACEE;
    color: rgb(240, 236, 236);
    font-size: 40px;
    margin-right: 5px;
}

.fa-github {
    background: #55ACEE;
    color: rgb(12, 12, 12);
    font-size: 40px;
    margin-right: 5px;
}

.darkMode {
    background-color: black;
}

body.darkMode h2,
h3,
h4 {
    color: green;
}

.darkMode p {
    color: cornsilk;
}

.darkMode #bibliography {
    color: cornsilk;
}

.leftColumn {
    float: left;
    width: 75%;
}

.rightColumn {
    float: right;
    width: 25%;
    padding-left: 20px;
    margin: 5px auto;
}

.card {
    padding: 20px;
    margin-top: 20px;
    background-color: darkslategrey;
}

.card img {
    width: 100%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}